@(title: String)(content: Html)(implicit req: RequestHeader)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

        <!-- routes -->
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    </head>
    <body>
        @map("LOLOLOLOL")
        @content
    </body>
    <div id="bottom-bar" class = "bottom-bar">
        <img id="play-pause-img" src="@routes.Assets.versioned("images/triangle.png")" class="bottom-bar-item-center">
        <a href="/manage">
            <img id="settings-image" src="@routes.Assets.versioned("images/gear.svg")" >
        </a>
        <input id="birds" class="bottom-bar-item-right">
    </div>
</html>
